
{%extends "layout.html"%}

{% block title%}
    <title>Ideias - Casa Criativa</title>
{%endblock%}

{% set bodyId = "page-ideias" %}
{%block content%}
<header>
    <a href="/">
        <img src="logo.png" alt="Imagem da logomarca">
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
    </nav>
</header>

<section id="title">
    <p>Em exibicao</p>
    <h1>Ideias</h1>
</section>

<main>
    <section id="ideias">
        {% for ideia in ideias %}
            {%include "ideias_geral.html"%}
        {% endfor %}
</main>

{%endblock%}
